# Jupyter
* 분석용
* 결과를 바로 확인할 수 있음 (인터렉티브)
* Julia , Python, R(통계학)
* Cell
    * 파이썬 코드를 작성하는 공간
* Cell -> m 버튼 -> markdown Cell -> 문서 작성
* Cell -> y 버튼 -> Python Cell -> 코드 작성
* Cell 실행 방법
    * Shift + Enter : 현재 Cell 실행하고 아래로 이동
    * Ctrl + Enter  : 현재 Cell 만 실행
    * Alt + Enter   : 현재 Cell 실행하고 아래 새로운 Cell 생성

# 변수

* 변수명 작성
    * 숫자로 시작하면 안됨
    * 특수문자로 시작 안됨

카멜 케이스 camelCaml  
파스칼 케이스  CamelCamel  
스네이크 케이스 camel_camel

In [9]:
11a = 1

SyntaxError: invalid syntax (<ipython-input-9-de8266d9cd66>, line 1)

In [10]:
**1 = a

SyntaxError: invalid syntax (<ipython-input-10-cd89c81fb1ac>, line 1)

# 데이터 타입
* Int - 정수
* Float - 부동소수점
* String - 문자열
    * '' (작은따옴표)
    * " " (큰따옴표)
    * ''' ''' (작은따옴표 3개, 줄바꿈 가능, 여러 줄 입력)
    * """ """ (큰따옴표 3개, 줄바꿈 가능, 여러 줄 입력)
    * 문자열은 인덱스가 부여된다.
    * 양의 인덱스, 음의 인덱스로 출력할 수 있다.

In [14]:
str = "플레이데이터"

print(type(str))
print(str)

<class 'str'>
플레이데이터

### 변수 입력
변수 입력은 {} 를 문자열 안에 넣어주고 .format() 함수를 사용해서 변수를 입력한다.

### 문자열 인덱스 활용
문자열 합치기 = 문자열 + 문자열  
문자열 반복 = 문자열 * 횟수

### 문자열 슬라이싱
문자열[시작 인덱스 : 끝 인덱스 : 스탭]
시작 인덱스에는 시작할 인덱스를 적어준다.  
끝 인덱스에는 끝나기 전의 인덱스까지 출력되므로 출력할 인덱스보다 1 많은 숫자를 입력  
스탭은 어떻게 그리고 얼만큼 이동할지에 대해서 정해줄 수 있다.

# 리스트(list)
[ , , ] (대괄호) 사용해서 표현  
데이터를 묶는 역할을 함  
데이터 타입이 같지 않아도 된다.

In [26]:
text = input("값을 입력")

값을 입력아야어여어요요어여어야아

In [27]:
if text == text[::-1]:
    print(text)
    print(text[::-1])
    print("앞에서 읽어도 뒤에서 읽어도 같음")
else:
    print(text)
    print(text[::-1])
    print("달라달라")

아야어여어요요어여어야아
아야어여어요요어여어야아
앞에서 읽어도 뒤에서 읽어도 같음

앞으로 읽어도 같고 뒤에서 읽어도 같은 문자를 <b>회문 또는 Palindrome 이라고 부름</b>

### IF 조건문

##### if ~ elif ~ else

```
if [조건문]:   
    [실행문]  
elif [조건문]:  
    [실행문]  
else:  
    [실행문]  
```

In [29]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### range()

range(start, end, step)  
step 기본 값은 1로 설정

In [35]:
a1 = range(1, 100, 3)
list(a1)

[1,
 4,
 7,
 10,
 13,
 16,
 19,
 22,
 25,
 28,
 31,
 34,
 37,
 40,
 43,
 46,
 49,
 52,
 55,
 58,
 61,
 64,
 67,
 70,
 73,
 76,
 79,
 82,
 85,
 88,
 91,
 94,
 97]

### for 반복문

~~~
for [변수명] in [반복 인자]:  
       [실행문]
~~~

In [36]:
for x in range(2, 10):
    if x % 2 == 0:
        for y in range(1, 10):
            print("{} X {} = {}".format(x, y, x*y))

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

### 윤년 계산

In [85]:
y = []

for n in range(1800, 2201):
    if n % 4 == 0 and n % 100 != 0 or n % 400 == 0:
        y.append(n)
        
print(y)

[1804, 1808, 1812, 1816, 1820, 1824, 1828, 1832, 1836, 1840, 1844, 1848, 1852, 1856, 1860, 1864, 1868, 1872, 1876, 1880, 1884, 1888, 1892, 1896, 1904, 1908, 1912, 1916, 1920, 1924, 1928, 1932, 1936, 1940, 1944, 1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016, 2020, 2024, 2028, 2032, 2036, 2040, 2044, 2048, 2052, 2056, 2060, 2064, 2068, 2072, 2076, 2080, 2084, 2088, 2092, 2096, 2104, 2108, 2112, 2116, 2120, 2124, 2128, 2132, 2136, 2140, 2144, 2148, 2152, 2156, 2160, 2164, 2168, 2172, 2176, 2180, 2184, 2188, 2192, 2196]

In [82]:
cnt = 0

for x in range(1800, 2201):
    if x % 4 == 0 and x % 100 != 0 or x % 400 == 0:
        print(x, end=", ")
        cnt += 1

print(cnt)

1804, 1808, 1812, 1816, 1820, 1824, 1828, 1832, 1836, 1840, 1844, 1848, 1852, 1856, 1860, 1864, 1868, 1872, 1876, 1880, 1884, 1888, 1892, 1896, 1904, 1908, 1912, 1916, 1920, 1924, 1928, 1932, 1936, 1940, 1944, 1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016, 2020, 2024, 2028, 2032, 2036, 2040, 2044, 2048, 2052, 2056, 2060, 2064, 2068, 2072, 2076, 2080, 2084, 2088, 2092, 2096, 2104, 2108, 2112, 2116, 2120, 2124, 2128, 2132, 2136, 2140, 2144, 2148, 2152, 2156, 2160, 2164, 2168, 2172, 2176, 2180, 2184, 2188, 2192, 2196, 97

In [87]:
type(y)

list

### List Comprehension

In [89]:
[x for x in range(1, 10, 1)]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

list 는 값 수정 허용  
tuple 은 값 수정 허용 불가

### Dictionary
key-value

In [98]:
import requests

url= 'https://www.starbucks.co.kr/store/getStore.do?r=804IUG79N7'

In [99]:
payload = {
    'in_biz_cds' : '0',
    'in_scodes' : '0',
    'ins_lat' : '37.5627128',
    'ins_lng' : '126.93279869999999',
    'search_text' : '',
    'p_sido_cd' : '01',
    'p_gugun_cd' : '',
    'in_distance' : '0',
    'in_biz_cd' : '',
    'isError' : 'true',
    'searchType' : 'C',
    'set_date' : '',
    'all_store' : '0',
    'T03' : '0',
    'T01' : '0',
    'T12' : '0',
    'T09' : '0',
    'T30' : '0',
    'T05' : '0',
    'T22' : '0',
    'T21' : '0',
    'T10' : '0',
    'T36' : '0',
    'P10' : '0',
    'P50' : '0',
    'P20' : '0',
    'P60' : '0',
    'P30' : '0',
    'P70' : '0',
    'P40' : '0',
    'P80' : '0',
    'whcroad_yn' : '0',
    'P90' : '0',
    'new_bool' : '0',
    'iend' : '1000',
    'rndCod' : 'V8UNZFKU44',}

### 스타벅스 리저브 매장

In [104]:
r = requests.post(url, data=payload)

for x in r.json()['list']:
    # f-string 기법
    if x['s_name'][-1] == "R":
        print(f"{x['s_name']} \t {x['addr']} 입니다." )

대치재경빌딩R 	 서울특별시 강남구 대치동 599 대원빌딩입니다.
삼성역섬유센터R 	 서울특별시 강남구 대치동 944-31 한국섬유산업연합회입니다.
압구정R 	 서울특별시 강남구 신사동 621-1입니다.
수서역R 	 서울특별시 강남구 수서동 715 수서빌딩입니다.
양재강남빌딩R 	 서울특별시 강남구 도곡동 956 LG전자 강남R&D센터입니다.
선릉동신빌딩R 	 서울특별시 강남구 삼성동 141-28 동신빌딩입니다.
스타필드코엑스몰R 	 서울특별시 강남구 삼성동 159 코엑스  A106호입니다.
강남R 	 서울특별시 강남구 역삼동 825 미진프라자 1층 101호입니다.
청담스타R 	 서울특별시 강남구 청담동 89-4입니다.
SSG마켓도곡R 	 서울특별시 강남구 도곡동 467-17 타워팰리스Ⅱ F 지하1층입니다.
센터필드R 	 서울특별시 강남구 역삼동 676 센터필드입니다.
마곡사이언스타워R 	 서울특별시 강서구 마곡동 796-3 마곡사이언스타워입니다.
관악서울대입구R 	 서울특별시 관악구 봉천동 856-6 BS타워입니다.
보라매공원R 	 서울특별시 동작구 신대방동 395-65 파크스퀘어,보라매현대APT입니다.
홍대입구역사거리R 	 서울특별시 마포구 서교동 353-5 경남관광빌딩입니다.
합정폴리스R 	 서울특별시 마포구 서교동 490 메세나폴리스 B189~193입니다.
이대R 	 서울특별시 서대문구 대현동 54-4입니다.
강남교보타워R 	 서울특별시 서초구 서초동 1303-22 교보타워입니다.
강남대로논현R 	 서울특별시 서초구 반포동 736-2 대유빌딩입니다.
파미에파크R 	 서울특별시 서초구 반포동 118-3 센트럴시티 파미에파크돔 BP4-9호입니다.
문정법원로R 	 서울특별시 송파구 문정동 642 송파 테라타워2입니다.
잠실대교남단R 	 서울특별시 송파구 신천동 7-30 타워730 1층입니다.
타임스퀘어R 	 서울특별시 영등포구 영등포동4가 442 타임스퀘어입니다.
여의도IFC몰(L1)R 	 서울특별시 영등포구 여의도동 23 서울 국제금융 센터 지하1층 178호입니다.
여의도KBS R 	 서울특별시 영등포구 여의도동 17-9입니다.
여의도공원R 	 서울특별시 영등포구 여의도동 12 C.C.M.M빌딩입니다.
여의도역R 	 서울특별시 영등포구 여의도동 23-6   1층입니다.
더현대서울(B2)R 	 서울특별시 영등포구 여의도동 22 파크원입니다.
더종로R 	 서울특별시 종로구 종로2가 6 종로타워입니다.
정부서울청사R 	 서울특별시 종로구 적선동 156 광화문플래티넘입니다.
대한상공회의소R 	 서울특별시 중구 남대문로4가 45 대한서울상공회의소 1층입니다.
을지로내외빌딩R 	 서울특별시 중구 을지로2가 6 내외빌딩입니다.
레스케이프호텔R 	 서울특별시 중구 회현동1가 210입니다.
한강진역R 	 서울특별시 용산구 한남동 683-139입니다.
용산역써밋R 	 서울특별시 용산구 한강로2가 391 용산푸르지오써밋입니다.
한남동R 	 서울특별시 용산구 한남동 36-7  1층 ~ 2층입니다.

### 스타벅스 DT 매장

In [194]:
r = requests.post(url, data=payload)

for x in r.json()['list']:
    # f-string 기법
    if x['s_name'][-2:] in "DT":
        print(f"{x['s_name']:10} \t {x['addr']} 입니다." )

방화DT       	 서울특별시 강서구 방화동 293-4 입니다.
화곡DT       	 서울특별시 강서구 화곡동 772-67 입니다.
김포공항DT     	 서울특별시 강서구 방화동 645-6 입니다.
신림DT       	 서울특별시 관악구 신림동 564-12 입니다.
낙성대DT      	 서울특별시 관악구 봉천동 1657-3 입니다.
구의DT       	 서울특별시 광진구 구의동 67-36,37,7 입니다.
공릉DT       	 서울특별시 노원구 공릉동 597-34, 597-30, 597-31, 597-32, 597-33 입니다.
태릉입구역DT    	 서울특별시 노원구 공릉동 653-8 입니다.
연희DT       	 서울특별시 서대문구 연희동 87-7 ,87-8 입니다.
북가좌DT      	 서울특별시 서대문구 북가좌동 309-16 입니다.
종암DT       	 서울특별시 성북구 종암동 29-10 입니다.
송파나루역DT    	 서울특별시 송파구 송파동 59-9 송봉주유소 입니다.
송파방이DT     	 서울특별시 송파구 방이동 226-10 입니다.
송파마천사거리DT  	 서울특별시 송파구 마천동 43-1 입니다.
신정DT       	 서울특별시 양천구 신정동 981-15 입니다.
신월IC DT    	 서울특별시 양천구 신월동 205-49 입니다.
신월동DT      	 서울특별시 양천구 신월동 52-14 입니다.
진관DT       	 서울특별시 은평구 진관동 2-8 스타벅스진관DT 입니다.
강동구청DT     	 서울특별시 강동구 성내동 550 입니다.
강동암사DT     	 서울특별시 강동구 암사동 441-12 입니다.
구로오류DT     	 서울특별시 구로구 오류동 271 입니다.

### 금천구 스타벅스 매장

In [198]:
for x in r.json()['list']:
    # f-string 기법
#     if x['addr'].split()[1] == "금천구":
    if x['addr'].find("금천구") > 0:
        print(f"{x['s_name']:10} \t {x['addr']} 입니다." )

금천구청역      	 서울특별시 금천구 시흥동 1031 엠메디컬타워 112,113,114,115호 입니다.
가산에스케이     	 서울특별시 금천구 가산동 371-41 가산 에스케이 브이원 센터 입니다.
독산사거리      	 서울특별시 금천구 독산동 159-23 영진빌딩 입니다.
금천시흥       	 서울특별시 금천구 시흥동 904-22 더플레이스 입니다.
가산디지털단지역   	 서울특별시 금천구 가산동 50-3 대륭포스트타워6차 입니다.
금천독산       	 서울특별시 금천구 독산동 291-1 입니다.
가산디지털      	 서울특별시 금천구 가산동 371-28 입니다.
W-Mall     	 서울특별시 금천구 가산동 60-27 W-MALL내 지하1층 입니다.
마리오아울렛     	 서울특별시 금천구 가산동 60-20 ㈜마리오 3관1층 입니다.
가산브이타워     	 서울특별시 금천구 가산동 V-TOWER 371-37 입니다.
가산그레이트     	 서울특별시 금천구 가산동 60-5 갑을그레이트벨리 1층 입니다.
독산역        	 서울특별시 금천구 가산동 673, 107-2, 108, 109호 입니다.
가산현대아울렛    	 서울특별시 금천구 가산동 60-8 현대시티아울렛 가산점, 1층 일부 입니다.

### 오픈한지 가장 오래된 매장

In [210]:
import operator

get_data = []

for x in r.json()['list']:
    get_data.append([x['s_name'], x['open_dt'], x['addr']])

old_sb = sorted(get_data, key=operator.itemgetter(1))[0]

print(f"{old_sb[0]:10} \t {old_sb[1]:10} \t {old_sb[2]} 입니다." )

이대R        	 19990727   	 서울특별시 서대문구 대현동 54-4 입니다.

In [183]:
s_name = ""
old_dt = 20991231
addr = ""

for x in r.json()['list']:
    if int(x['open_dt']) <= int(old_dt):
        s_name = x['s_name']
        old_dt = x['open_dt']
        addr = x['addr']
        
print(f"{s_name:10} \t {old_dt:10} \t {addr} 입니다." )

이대R        	 19990727   	 서울특별시 서대문구 대현동 54-4 입니다.