# 2023-01-26

### WEB
* Method
    * GET
    * POST
    * UPDATE
    * DELETE
    
### 파이썬 복사
* 얉은 복사
* 깊은 복사

In [2]:
# 펠린드롬이면 True 아니면 False
def solution(text):
    if text == text[::-1]:
        return True
    else:
        return False

In [3]:
solution("우영우")

True

In [5]:
a = [1, 3, 4]

a *= 100

In [6]:
len(a)

300

In [16]:
%%time

sum(map(int, a))

CPU times: user 27 µs, sys: 1e+03 ns, total: 28 µs
Wall time: 31 µs

800

In [17]:
%%time

sum([int(n) for n in a])

CPU times: user 51 µs, sys: 0 ns, total: 51 µs
Wall time: 55.1 µs

800

In [19]:
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd

In [20]:
url = "https://finance.naver.com/item/sise_day.naver?code=005930&page=1"

header = {
    "User-Agent" : "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/109.0.0.0 Safari/537.36"
}

r = requests.get(url, headers=header)

r.status_code

200

In [92]:
bs = BeautifulSoup(r.text).find("table", {'class': 'type2'}).find_all("span", "tah")

result = []

for i in range(0, 64, 7):
    day = bs[i:i+7]
    result.append([d.text.strip() for d in day])
    
result

CPU times: user 16.3 ms, sys: 1.31 ms, total: 17.6 ms
Wall time: 16.4 ms

[['2023.01.26', '63,800', '400', '63,800', '63,900', '63,300', '4,763,660'],
 ['2023.01.25', '63,400', '1,600', '63,500', '63,700', '63,000', '16,822,710'],
 ['2023.01.20', '61,800', '300', '62,100', '62,300', '61,100', '9,646,327'],
 ['2023.01.19', '61,500', '1,100', '60,500', '61,500', '60,400', '12,808,490'],
 ['2023.01.18', '60,400', '600', '60,700', '61,000', '59,900', '11,584,041'],
 ['2023.01.17', '61,000', '100', '61,200', '61,500', '60,600', '9,831,456'],
 ['2023.01.16', '61,100', '300', '61,300', '61,600', '60,800', '10,039,972'],
 ['2023.01.13', '60,800', '300', '60,500', '61,200', '60,400', '12,510,328'],
 ['2023.01.12', '60,500', '0', '61,100', '61,200', '59,900', '16,102,561'],
 ['2023.01.11', '60,500', '100', '61,000', '61,200', '60,300', '12,310,751']]

In [87]:
BeautifulSoup(r.text).find("table", {'class': 'type2'}).find_all("span", "tah")

[<span class="tah p10 gray03">2023.01.26</span>,
 <span class="tah p11">63,800</span>,
 <span class="tah p11 red02">
 				400
 				</span>,
 <span class="tah p11">63,800</span>,
 <span class="tah p11">63,900</span>,
 <span class="tah p11">63,300</span>,
 <span class="tah p11">4,763,660</span>,
 <span class="tah p10 gray03">2023.01.25</span>,
 <span class="tah p11">63,400</span>,
 <span class="tah p11 red02">
 				1,600
 				</span>,
 <span class="tah p11">63,500</span>,
 <span class="tah p11">63,700</span>,
 <span class="tah p11">63,000</span>,
 <span class="tah p11">16,822,710</span>,
 <span class="tah p10 gray03">2023.01.20</span>,
 <span class="tah p11">61,800</span>,
 <span class="tah p11 red02">
 				300
 				</span>,
 <span class="tah p11">62,100</span>,
 <span class="tah p11">62,300</span>,
 <span class="tah p11">61,100</span>,
 <span class="tah p11">9,646,327</span>,
 <span class="tah p10 gray03">2023.01.19</span>,
 <span class="tah p11">61,500</span>,
 <span class="tah p11 red02">
 				1,100
 				</span>,
 <span class="tah p11">60,500</span>,
 <span class="tah p11">61,500</span>,
 <span class="tah p11">60,400</span>,
 <span class="tah p11">12,808,490</span>,
 <span class="tah p10 gray03">2023.01.18</span>,
 <span class="tah p11">60,400</span>,
 <span class="tah p11 nv01">
 				600
 				</span>,
 <span class="tah p11">60,700</span>,
 <span class="tah p11">61,000</span>,
 <span class="tah p11">59,900</span>,
 <span class="tah p11">11,584,041</span>,
 <span class="tah p10 gray03">2023.01.17</span>,
 <span class="tah p11">61,000</span>,
 <span class="tah p11 nv01">
 				100
 				</span>,
 <span class="tah p11">61,200</span>,
 <span class="tah p11">61,500</span>,
 <span class="tah p11">60,600</span>,
 <span class="tah p11">9,831,456</span>,
 <span class="tah p10 gray03">2023.01.16</span>,
 <span class="tah p11">61,100</span>,
 <span class="tah p11 red02">
 				300
 				</span>,
 <span class="tah p11">61,300</span>,
 <span class="tah p11">61,600</span>,
 <span class="tah p11">60,800</span>,
 <span class="tah p11">10,039,972</span>,
 <span class="tah p10 gray03">2023.01.13</span>,
 <span class="tah p11">60,800</span>,
 <span class="tah p11 red02">
 				300
 				</span>,
 <span class="tah p11">60,500</span>,
 <span class="tah p11">61,200</span>,
 <span class="tah p11">60,400</span>,
 <span class="tah p11">12,510,328</span>,
 <span class="tah p10 gray03">2023.01.12</span>,
 <span class="tah p11">60,500</span>,
 <span class="tah p11">0</span>,
 <span class="tah p11">61,100</span>,
 <span class="tah p11">61,200</span>,
 <span class="tah p11">59,900</span>,
 <span class="tah p11">16,102,561</span>,
 <span class="tah p10 gray03">2023.01.11</span>,
 <span class="tah p11">60,500</span>,
 <span class="tah p11 red02">
 				100
 				</span>,
 <span class="tah p11">61,000</span>,
 <span class="tah p11">61,200</span>,
 <span class="tah p11">60,300</span>,
 <span class="tah p11">12,310,751</span>]